.health_test-box .health_test-head h4
{
    padding: 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    padding-left: 28px !important;
    padding-right: 5px;
 } 
 .health_test-box .health_test-head p
{
    padding: 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    padding-left: 28px !important;
    padding-right: 5px;
 } 

 .pkg_chck-box
 {
   float:left; 
   width: 25px;
   height: 39px;
   padding-left: 6px;
    /*cursor: pointer;*/
 }
 .pkg_chck-box input 
 {
    width: 100%;
    height: 100%;
    cursor: pointer;
 }
 .health_test-box 
 {
    background: #fff;
    border-top: 3px solid rgba(37, 135, 150, 0.99);
    border-radius: 5px;
    margin-top: 14px;
    position: relative;
  }
  .sel_test_list:nth-child(2n)
   {
    background: rgba(236,246,248,0.99) !important;
  
   }
   .sel_test_list
   {
     margin-right: 3%;
     /*border:1px solid #ddd !important;*/
   }
   .tst-table_head tr th:nth-child(2)
   {
     width:26%;   
   }
  /* #tst_details:hover
  {
      background:rgb(65, 167, 179) ;
      color: white;
  } */
  #tst_details:nth-child(2n)
{
 background:rgba(236,246,248,0.99) !important;
}
.datetimepicker 
{
  left:51% !important;
  top:337px !important; 
  position:fixed !important;
}
#tst_loader
{
 margin-left: 38%;
 width: 11%;
 margin-top: 6%;
}
#tst_step2_back_btn
{
  background-image: linear-gradient(to bottom, #EC4949 25%, #C04040 100%) !important;
}
#tst_step2_next_btn
{
  background-image: linear-gradient(to bottom, #EC4949 25%, #C04040 100%) !important;
}
#tmm-form-wizard .button span 
{
    border-top: 1px solid #C74242 !important;
    border-bottom: 1px solid #C03535 !important;
    border-left: 1px solid #EC4949 !important;
    border-right: 1px solid #C24040 !important;
    display: inline-block;
 }
 #tmm-form-wizard .prev .button-divider 
 {
    position: absolute;
    height: 50% !important;
    width: 2px;
    border: 1px solid #EC4949 !important;
 }
  #tmm-form-wizard .next .button-divider
  {
     position: absolute;
    height: 50% !important;
    width: 2px;
    border: 1px solid #EC4949 !important;
  }
   
   .form-wizard
   {
     background: white !important;   
   }
   #tmm-form-wizard .button
   {
    background-image: linear-gradient(to bottom, #EC4949 25%, #C04040 100%) !important;   
   }
   .tst_preview_details
   {
    border:1px solid #d0dde1 !important;   
   }
   .cust_input input 
{
    
    border: 0px;
    float: left;
    border-radius: 0px;
    border: 2px solid #41A7B3;
    border-right: 0px;
 }
 .cust_input span 
 {
    width: 13%;
    background-color: #ee4848;
    height: 34px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
 }
