html
{
  padding:0px !important;
}
li
{
 margin-bottom: 0px !important;
}
 #tst_profile_loader
{
 margin-left: 38%;
 width: 11%;
 margin-top: 6%;
}
.cust_profile_wrapper
{
  width: 100%;
  margin: 0px auto;
  padding: 5px;
}
#tst_profile_details:nth-child(2n) 
{
    background: rgba(236,246,248,0.99) !important;
}
 #tst_profile_details:hover
{
    background:rgb(65, 167, 179) !important;
    color: white;
}
 #cloud_tests
 {
     padding-top: 35px;
     text-align: justify;
 }
 .pop_test:nth-child(even)
 {
      color:green; 
 }
 .pop_test:nth-child(odd)
 {
      color:red; 
 }
 .pop_test:hover
 {
   background:yellow; 
 }